<div [hidden]="selected == null">

    <h2 style="text-align: center; margin-top: 20px;">Chat with {{selected}}</h2>

    
    <div class="mat-elevation-z8" style="margin-top: 20px;">
      <table mat-table [dataSource]="dataSource" style="width: 100%;">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef hidden="true"> . </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef hidden="true"> . </th>
        <td mat-cell *matCellDef="let element">
            <div style="padding: 20px;">
              <div *ngIf="element.incoming === 'true'"> Sender: {{element.otherUsername}}: </div>
              <div *ngIf="element.incoming === 'false'">Sender: You </div>
              <div style="word-break: break-all;"> Subject: {{element.subject}} </div>
              <div style="word-break: break-all;"> Content: {{element.content}} </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="mat-elevation-z8" style="margin-top: 20px;">
      <form #feedform="ngForm" style="width: 100%; padding-left: 10%; padding-right: 10%; padding-top: 20px; padding-bottom: 20px;" novalidate>
        <div>
          <mat-form-field style="width:80%;">
              <mat-label>Subject</mat-label>
              <input matInput required id="subjectInput" style="height: 40%;" #name = "ngModel" name="c1" [(ngModel)] = "subject"/>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width:80%;">
                <mat-label>Content</mat-label>
                <input matInput required id="contentInput" style="height: 40%;" #name2 = "ngModel" name="c2" [(ngModel)] = "content"/>
            </mat-form-field>
        </div>
        <div style="text-align: left; margin-top: 20px;">
          <button id="sendButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="primary" type="submit" style="padding: 12px 32px; margin-right: 20px;" (click)="send()">Send</button>
          <button id="sendToAllButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="accent" type="submit" style="padding: 12px 32px; " (click)="sendToAll()">Send to all</button>
        </div>
    </form>
    </div>

</div>

